.App {
  text-align: center;
}
.Game {
  text-align: center;
}
.board {
  display: grid;
  grid-template-columns: repeat(3, 50px);
  grid-template-rows: repeat(3, 50px);
  justify-content: center;
}
.square {
  width: 50px;
  height: 50px;
  background-color: white;
  border: 2px solid lightgray;
  font-size: 24px;
}
.square:nth-child(3n + 1){
  border-left: none;
}
.square:nth-child(-n + 3){
  border-top: none;
}
.square:nth-child(3n){
  border-right: none;
}
.square:nth-child(n + 7){
  border-bottom: none;
}
.square:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
